/* src/App.css */
body {
  font-family: Arial, sans-serif;
}

.book-card, .bookshelf-book {
  border: 5px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
}

.book-list, .bookshelf-list {
  display: flex;
  flex-wrap: wrap;
}

input {
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}
